footer{
    background-color: #86C3B2;
}
.footer-text{
    width: 400px;
    height: 120px;
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}
.footer-text h3{
    margin-top: 20px;
}
